body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(./pattern-png-30776.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#granim-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
canvas {
  display: block;
}
:root {
  --Gold-Metallic: #fd9a00;
  --Classic-Silver: #c0c0c0;
  --Bright-Silver: #d9d9d9;
  --Metallic-Silver: #a8a9ad;
  --Dark-Silver-Gunmetal: #272727;
}
